<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nutrimate.nutrimatebackend.mapper.test.CommentsMapper">
    <select id="selectAllComments" resultType="CommentsDto">
        SELECT * FROM comments WHERE deleted = 'N'
    </select>
    
    <select id="selectCommentsByBoardId" resultType="CommentsDto" parameterType="int">
        SELECT c.*,m.user_nick FROM comments c LEFT JOIN member m on c.user_id = m.user_id 
		WHERE board_id = #{boardId} AND c.deleted = 'N' AND m.deleted = 'N' ORDER BY cmt_id ASC
    </select>

    <insert id="insertComment" parameterType="CommentsDto">
        <selectKey keyProperty="cmtId" resultType="int" order="BEFORE">
            SELECT SEQ_COMMENTS.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO comments (CMT_ID, USER_ID, BOARD_ID, CMT_CONTENT) 
        VALUES (#{cmtId}, #{userId}, #{boardId}, #{cmtContent})
    </insert>

    <update id="updateCommentContent">
	    UPDATE comments SET cmt_content=#{commentsDto.cmtContent} WHERE CMT_ID=#{cmtId}
	</update>

    <delete id="deleteComment" parameterType="int">
        UPDATE comments SET deleted='Y' WHERE CMT_ID=#{cmtId}
    </delete>
</mapper>
