<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<insert id="insertMember" parameterType="MemberDto">
		<!-- <selectKey keyProperty="user_id" resultType="long" order="BEFORE">
			SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
		</selectKey> -->
		INSERT INTO MEMBER(USER_NAME,USER_UID,USER_PWD,USER_NICK,USER_HEIGHT,USER_WEIGHT,USER_EMAIL,USER_GENDER,USER_EXER_HARD,USER_CAL,CREATED_DATE,USER_ROLE,USER_DIET,PROVIDER,PROVIDER_ID) 
		VALUES(#{userName},#{userUid},#{userPwd},#{userNick},#{userHeight},#{userWeight},#{userEmail},#{userGender},#{userExerHard},#{userCal},DEFAULT,#{userRole},#{userDiet},#{provider},#{providerId})
	</insert>
	
	<select id="findByUser" parameterType="String" resultType="MemberDto">
		SELECT m.USER_NAME,
			   m.USER_NICK,		   
			   m.USER_HEIGHT,
			   m.USER_WEIGHT,
			   m.USER_EMAIL,
			   m.USER_GENDER,
			   m.USER_EXER_HARD,
			   m.USER_CAL,
			   m.USER_ROLE,
			   m.USER_DIET,
			   m.PROVIDER,
			   m.PROVIDER_ID,
			   c.USER_UID,
			   c.USER_PWD	 
			   FROM MEMBER m JOIN COMMONMEMBER c ON m.USER_ID=c.USER_ID 
			   WHERE USER_UID=#{userUid}
	</select>

</mapper>