<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입 페이지</title>
</head>
<body>
	<h1 class="display-3">회원가입 페이지</h1>
	<hr/>
<form action="/join" method="POST">
	<input type="text" name="userNick" placeholder="Nickname"/><br/>
	<input type="text" name="userHeight" placeholder="Height"/><br/>
	<input type="text" name="userPhone" placeholder="PhoneNumber"/><br/>
	<input type="text" name="userWeight" placeholder="Weight"/><br/>
	<input type="email" name="userEmail" placeholder="Email"/><br/>
	<input type="text" name="userGender" placeholder="Gender"/><br/>
	<input type="text" name="userSportHard" placeholder="Sport"/><br/>
	<input type="text" name="userCal" placeholder="Calorie"/><br/>
	<input type="text" name="userName" placeholder="Name"/><br/>
	<input type="text" name="userUid" placeholder="Username"/><br/>
	<input type="password" name="userPwd" placeholder="Password"/><br/>
	
	<button>회원가입</button>
</form>
</body>
</html>