<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nutrimate.nutrimatebackend.mapper.record.SportDBMapper">
    <insert id="insertSport">
        <selectKey keyProperty="sportId" resultType="int" order="BEFORE">
            SELECT seq_sport.nextval
                FROM dual
        </selectKey>
        INSERT INTO sport(sport_id, sporrt_name, sport_met)
        VALUES (#{sportId}, #{sportName}, #{sportMet})
    </insert>
    
    <select id="findSportListBySearchWord" resultType="SportDto">
        WITH s2 as (SELECT s.*, rank() OVER (ORDER BY s.sport_id) AS rank
        FROM sport s
        <if test="searchWord != null and searchWord != ''">
            WHERE s.sport_name LIKE '%' || #{searchWord} || '%'
        </if>
        )
        SELECT * FROM s2
        WHERE rank BETWEEN ((#{nowPage}-1)*#{receivePage}+1) and (#{nowPage}*#{receivePage})
    </select>
    
    <select id="findCountSportList" resultType="java.lang.Integer">
        SELECT count(*)
            FROM sport
    </select>
    
    <select id="findMetBySportId" resultType="java.lang.Double">
        SELECT sport_met
            FROM sport
            WHERE sport_id = #{sportId}
    </select>
</mapper>